{% extends 'base.html' %}

{% block header-name %}(教师界面){% endblock %}

{% block header-nav %}

    <li class="layui-nav-item">
        <a href="javascript:">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          我的
        </a>
        <dl class="layui-nav-child">
          <dd><a href="{% url 'teacherInfo' %}">个人信息</a></dd>
          <dd><a href="{% url 'teacherInfoManage'%}">修改信息</a></dd>
        </dl>
    </li>

    <li class="layui-nav-item"><a href="">退出登录</a></li>
{% endblock %}

{% block side-nav %}

    <li class="layui-nav-item">
        <a href="courseApply.html">选课事务申请</a>
    </li>

    <li class="layui-nav-item">
        <a class="" href="registerScore.html">期末考试分数登记</a>
    </li>

{% endblock %}