{% extends 'base.html' %}

{% block header-name %}(管理员界面){% endblock %}

{% block header-nav %}
     <li class="layui-nav-item">
        <a href="javascript:">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          管理员
        </a>
    </li>

    <li class="layui-nav-item"><a href="">退出登录</a></li>
{% endblock %}

{% block side-nav %}
    <li class="layui-nav-item">
        <a class="" href="teacherManage.html">教师信息管理</a>
    </li>

    <li class="layui-nav-item">
        <a class="" href="studentManage.html">学生信息管理</a>
    </li>

    <li class="layui-nav-item">
        <a class="" href="courseManage.html">课程信息管理</a>
    </li>

    <li class="layui-nav-item">
        <a class="" href="registerScore.html">期末考试分数登记</a>
    </li>

{% endblock %}