{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <title>登录</title>
</head>
<body>
<div class="logindiv">
	<div class="banner1"></div>
	<div class="banner2"></div>
<form id="loginForm" name="loginForm" action="" method="post" target="_top" >

		<table class="bulletin">
			<tr>
				<td>
					<div id="s4">
						<div><img style="width:430px;height:230px;" src="{% static 'image/gallery1.png' %}"/></div>

					</div>
				</td>
			</tr>
		</table>

		<table class="logintable">
			<tr>
				<td colspan="2" style="text-align:center;color:red;"></td>
			</tr>
			<tr>
				<td><label for="username">用户名:&nbsp;</label></td>
				<td>
					<input name="username" id="username" tabindex="1" title="请输入用户名" type="text" value="" style="width:105px;"/>
				</td>
			</tr>
			<tr>
				<td>
					<label for="password">密　码:&nbsp;</label>
				</td>
				<td>
					<input id="password" name="password"  tabindex="2" type="password" style="width:105px;"/>
					<input name="encodedPassword" type="hidden" value=""/>
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td colspan="2">
<input type="submit"  value="" onclick="bg.form.submit('loginForm',null,null,checkLogin);return false;" name="submitBtn" tabindex="6" class="blue-button"/>
				</td>
			</tr>
		</table>

</form>
</div>
</body>
</html>